* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/******************************* header style ****************************************/
.header {
  background-image: url(images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 1600px;
}

.baner-contan {
  text-align: right;
  width: 525px;
  height: 280px;
  margin-left: 845px;
  padding-top: 200px;
}

.baner-title {
  font-size: 65px;
  font-weight: 700;
  line-height: 76px;
  color: #ffffff;
}
.baner-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #f5f1f1f3;
  padding-top: 28px;
  padding-bottom: 28px;
}
.primary-button {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #005fac;
  padding: 21px 26px;
  background: #ffffff;
  border-radius: 5px;
  border: 0px;
}

/**************************main all style****************************/
main {
  width: 1140px;
  margin: 0 auto;
}
/**************************main all style ****************************/

/*************my failures section all style start******************/
.my-failures-section {
  display: flex;
  margin-top: 131px;
  margin-bottom: 124px;
  gap: 87px;
  align-items: center;
}
.my-failures-section-content {
  text-align: left;
}
.my-failures-section-content-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 26px;
}
.my-failures-section-content-description {
  color: #444343e0;
  font-weight: 200;
  font-size: 17px;
  line-height: 27px;
  word-spacing: 2px;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}

.my-failures-section-content .fa-solid {
  color: #16d887;
  font-size: 25px;
}
.my-failures-section-content h3 {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}
/*************my failures section all style End******************/

/*************my Plans section section all style start******************/
/* .my-plans-section{} */
.my-plans-section-title {
  text-align: center;
  color: #151414;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
}
.my-plans-section .plans {
  margin-top: 120px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
}
/* .SubPlan1{margin-left: -35px;} */
.SubPlan1 img {
  margin: auto;
  display: flex;
}
.SubPlan2 img {
  margin: auto;
  display: flex;
}
.SubPlan3 img {
  margin: auto;
  display: flex;
}
.SubPlan4 img {
  margin: auto;
  display: flex;
}
.SubPlan5 img {
  margin: auto;
  display: flex;
}

.SubPlan1 p {
  text-align: center;
  color: #737272;
}
.SubPlan2 p {
  text-align: center;
  color: #737272;
}
.SubPlan3 p {
  text-align: center;
  color: #737272;
}
.SubPlan4 p {
  text-align: center;
  color: #737272;
}
.SubPlan5 p {
  text-align: center;
  color: #737272;
}

.SubPlan1 h3 {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
}
.SubPlan2 h3 {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
}
.SubPlan3 h3 {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
}
.SubPlan4 h3 {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
}
.SubPlan5 h3 {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
}

.awlaysKeep {
  border-radius: 8px;
  padding: 59px 64px;
  margin: 60px 0px 130px 0px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background: linear-gradient(80deg, #003f86, white), url(images/watch.png);
  background-blend-mode: multiply;
  background-size: cover;
}
.awlaysKeep h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 30px;
}

/*******************my team section start********************/
.My-team {
  display: flex;
  background-color: #f5f5f5;
  gap: 26px;
  margin-bottom: 110px;
}

.my-team-title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 900;
}
.My-team h1{font-size: 31px;
            margin-bottom: 9px;
            color: rgba(27, 26, 26, 0.957);}
.My-team p{color: rgba(255, 255, 255, 0.746);}            
.team-member1 {
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  padding-bottom: 30px;
  text-align: justify;
}

.team-member2 {
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  text-align: justify;
}

.team-member3 {
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  text-align: justify;
}

.team-member1 img {
  border-radius: 5px;
  margin: auto;
}
.team-member2 img {
  border-radius: 18px;
  padding-bottom: 70px;
  margin: auto;
}
.team-member3 img {
  border-radius: 1px;
  margin: auto;
}

/*******************my team section End********************/

/********************Footer section Style******************/
.footer {
  display: flex;
  background-color: #151414;
  color: whitesmoke;
  gap: 331px;
  align-items: center;
}

.future-content {
  margin: 128px 0px 131px 230px;
}
.future-content-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 26px;
}
.future-content-decription {
  font-weight: 400;color:#e5e0e0cc;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 16px;
}
.future-content-email {
  margin-bottom: 16px;
  color:#e5e0e0cc;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.future-content-phone {
  color:#e5e0e0cc;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.future-content-icons {
  width: 190px;
  display: flex;
  justify-content: space-between;
}

.from {
  margin: 128px 129px 244px 0px;
}
.from-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}
.from-email-input {
  background-color: #151414;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  padding-left: 37px;
  color: #ffffff;
  border-radius: 8px;
  width: 325px;
  height: 64px;
  margin-top: 31px;
}
.subscribe-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  background-color: #005fac;
  padding: 19px 37px;
  color: #ffffff;
  border-radius: 8px;
  border: 0px;
  margin-top: 26px;
}
